<div class="cards col-3 float-left">
  <div class="card shadow" style="width: 80%;">
    <img src="../../assets/pictures/elliot.png" class="card-img-top" alt="elliot bobillet" id="moi">
    <div class="card-body">
      <h4 class="card-title">Bobillet Elliot</h4>
      <div class="contrat">
        <h5>Recherche CDI</h5>
      </div>
      <p class="card-text">
        Lyon, 25 ans<br>
        06.83.99.91.79<br>
        Permis B, véhiculé<br>
      </p>
      <div class="contact">
        <p>
          <a href="mailto:elliot.bobillet@hotmail.fr">M'envoyer un email</a><br>
          <a href="https://www.linkedin.com/in/elliot-bobillet-developpeur-web-junior/" target="_blank">Mon profil Linkedin</a><br>
          <a href="https://github.com/Ellioth-B" target="_blank">Mon Github</a>
        </p>
      </div>
    </div>
  </div>
</div>


