<div class="contain">
  <div class="row justify-content-center">
    
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 projets shadow card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/pictures/cent_pour_un_toit.png" alt="Card image cap">
      <h2 class="text-center pt-2 card-title">Cent pour un toit</h2>
      <h5 class="text-center pt-2 card-title">Site vitrine</h5>
      <div class="card-body">
        <h6 class="date">Mai 2019 - Aujourd’hui</h6>
        <p class="card-text"><br>
          Site web vitrine pour l'association Cent pour un toit de Mâcon, en relation client.<br>
          Equipe front-end de 4 personnes.<br>
          Utilisation d'Angular, Git, Github, méthodes agiles, écoconception.<br>
          - HTML/SCSS<br>
          - BootsTrap<br>
          - JavaScript/TypeScript<br>
          - Firebase
        </p>
        <a href="#">Lien vers projets</a><!--Lien github du projet -->
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 projets shadow card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/pictures/bomberman.png" alt="Card image cap">
      <h2 class="text-center pt-2 card-title">Bomber Wild</h2>
      <h5 class="text-center pt-2 card-title">Jeu-vidéo</h5>
      <div class="card-body">
        <h6 class="date">Mai 2019 - Aujourd’hui</h6>
        <p class="card-text"><br>
          Jeu-vidéo inspirée du célèbre jeu Bomberman, jouable avec 2 joueurs sur le même clavier, en 1 versus 1.<br>
          Equipe front-end de 5 personnes.<br>
          Utilisation d'Angular, Git, Github, méthodes agiles, écoconception. <br>
          - HTML/SCSS<br>
          - BootsTrap<br>
          - JavaScript/TypeScript<br>
        </p>
        <a href="">Lien vers projets</a><!--Lien github du projet -->
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 projets shadow card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/pictures/Referend_homme.png" alt="Card image cap">
      <h2 class="text-center pt-2 card-title">Réferend'Homme</h2>
      <h5 class="text-center pt-2 card-title">Projet Hackaton(48h)</h5>
      <div class="card-body">
        <h6 class="date">Mai 2019 - Aujourd’hui</h6>
        <p class="card-text"><br>
          
        </p>
        <a href="">Lien vers projets</a><!--Lien github du projet -->
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 projets shadow card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/pictures/e_commerce.png" alt="Card image cap">
      <h2 class="text-center pt-2 card-title">Wild Bazar</h2>
      <h5 class="text-center pt-2 card-title">Site e-commerce</h5>
      <div class="card-body">
        <h6 class="date">Mai 2019 - Aujourd’hui</h6>
        <p class="card-text"><br>
        </p>
        <a href="">Lien vers projets</a><!--Lien github du projet -->
      </div>
    </div>
  </div>
</div>